---
---
<div class="channels">
  <a class="ch" href="https://www.instagram.com/kongswing/" target="_blank" rel="noreferrer">
    <span class="ic">IG</span>
    <div>
      <div class="name">@kongswing</div>
      <div class="meta">逐禮拜更新 / weekly posts · 6.4k</div>
    </div>
  </a>
  <a class="ch" href="mailto:hello@kongswing.cc">
    <span class="ic ic-navy">@</span>
    <div>
      <div class="name">hello@kongswing.cc</div>
      <div class="meta">合作 · 媒體 · 工作坊邀請</div>
    </div>
  </a>
  <a class="ch" href="https://www.facebook.com/search/top?q=K%C3%B3ng%E5%8F%B0%E8%AA%9E%20%E8%B7%B3Swing" target="_blank" rel="noreferrer">
    <span class="ic">FB</span>
    <div>
      <div class="name">Kóng台語 跳Swing</div>
      <div class="meta">活動公告 / event announcements</div>
    </div>
  </a>
  <a class="ch" href="mailto:hello@kongswing.cc?subject=%E8%B4%8A%E5%8A%A9%E5%90%88%E4%BD%9C%20Sponsor">
    <span class="ic ic-rust">★</span>
    <div>
      <div class="name">贊助 · Sponsor</div>
      <div class="meta">買一杯珍奶請阮 / buy us bubble tea</div>
    </div>
  </a>
</div>
